.header {
    position: relative;
    border: 8px #393E46 solid;
    height: 120px;
}

a {
    position: relative;
    top: 72px;
    right: 50px;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

a:hover {
    color: gray;
    cursor: pointer;
}

.abajo1, .abajo2, .abajo3  {
    color: #F5F5F5;
    font-weight: 700;
    display: inline-flex;
    flex-direction: row;
    margin: 20px;
    position: relative;
    height: 350px;
    width: 300px;
    top: 380px;
    left: 100px;
}

body {
    margin: 0;
    padding: 0;
    background: url(./Images/gym\ background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

h1 {
    position: absolute;
    width: 100px;
    height: 0px;
    padding: 0px;
    left: 40%;
    bottom: 60%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    white-space: nowrap;
    color: slategrey;
}

.img1, .img2, .img3 {
    position: relative;
    width: 250px;
    transition: all .3s ease;
    height: 150px;
    background-color: black;
    margin-top: 25px;
}

.parrafo {
    height: 500px;
    width: 1200px;
    display: block;
    position: relative;
    left: 20%;
    bottom: 523px;
}

.text {
    color: white;
}

.img1 img:first-child {
    box-shadow: 0 60px 60px 
    -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.img1 img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

.img1:hover {
    transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}

.img1::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%
        rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}

.img1:hover::before {
    opacity: 1;
}

.img1:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

.img2 img:first-child {
    box-shadow: 0 60px 60px 
    -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.img2 img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

.img2:hover {
    transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}

.img2::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%
        rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}

.img2:hover::before {
    opacity: 1;
}

.img2:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

.img3 img:first-child {
    box-shadow: 0 60px 60px 
    -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.img3 img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

.img3:hover {
    transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}

.img3::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%
        rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}

.img3:hover::before {
    opacity: 1;
}

.img3:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

.slider {
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
    background-image: url(./Images/s1.png);
    background-size: 100% 100%;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 360px;
    border-radius: 10px;
    animation: slide 15s infinite linear;
}

@keyframes slide {
    25%{background-image: url(./Images/s1.png);}
    50%{background-image: url(./Images/s2.png);}
    75%{background-image: url(./Images/s3.png);}
    100%{background-image: url(./Images/s4.png);}
}

.button {
    padding: 11px 35px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    left: 870px;
    top: 240px;
    color: #f0f0f0;
    z-index: 1;
  }
  
  .button::after,
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
  }
  
  .button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }

  .input {
    position: relative;
    left: 660px;
    top: 120px;
    background-color: #212121;
    width: 220px;
    height: 40px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }

hr {
    position: relative;
    top: 380px;
}

.down {
    height: 320px;
    width: 320px;
    right: 320px;
    bottom: 50px;
    position: relative;
}

footer {
    background-color: black;
    height: 270px;
    width: 100%;
    position: absolute;
}

.footer-title {
    display: inline-flex;
    flex-direction: row;
    gap: 500px;
    color: white;
}

h2 {
    margin-left: 50px;
}

.footer-text {
    color: #f0f0f0;
    height: 40px;
    width: 200px;
    margin-left: 25px;
}

.links1 {
    display: flex;
    width: 10px;
    flex-direction: column;
    margin-left: 750px;
    color: white;
    position: relative;
    bottom: 120px;
    padding: 3px;
}

.links2 {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-left: 1410px;
    color: white;
    position: relative;
    bottom: 290px;
    padding: 6px;
}

@media (max-width: 600px) {
    ul {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 22px;
    }

    h1 {
        font-size: 5vh;
        left: 32%;
    }

    .contacto:not(Contact) {
        display: none;
    }

    .slider {
        height: 51%;
        position: absolute;
        left: 127px;
        top: 661px;
        margin: 0;
        width: 34%;
    }

    .parrafo {
        margin: 0;
        font-size: 0;
        z-index: -1;
    }

    hr {
        top: 735px;
    }

    .down {
        top: 351px;
        width: 57%;
    }
    

    .img1  {
        left: 18%;
    }

    .img3  {
        left: 18%;
    }

    .img2  {
        left: 18%;
    }
}